<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace的值就是dao接口的完整路径，就这个demo而言namespace 就是userDao.java的完整路径-->
<mapper namespace="com.jxust.ssm.dao.DevHisDataDao">
	<resultMap id="BaseResultMap" type="com.jxust.ssm.pojo.DevHisData">
		<id column="sn" property="sn"/>
		<result column="nDevType" property="nDevType" />
		<result column="nSubtype" property="nSubtype" />
		<result column="sDevAddr" property="sDevAddr" />
		<result column="sDevID" property="sDevID" />
		<result column="nLocaMode" property="nLocaMode" />
		<result column="sDevName" property="sDevName" />
		<result column="x_pos" property="x_pos" />
		<result column="y_pos" property="y_pos" />
		<result column="fHop" property="fHop" />
		<result column="fBatteryVolt" property="fBatteryVolt" />
		<result column="fRSOC" property="fRSOC" />
		<result column="fVolt" property="fVolt" />
		<result column="SamplingTime" property="SamplingTime" />      
		<result column="sRemark" property="sRemark" />
		<result column="Spare1" property="Spare1" />
		<result column="Spare2" property="Spare2" />
	</resultMap>
	
	<sql id="Base_Column_List">
	sn,nDevType,nSubtype,nDevAddr,sDevID, nLocaMode,sDevName,x_pos,y_pos,fHop, fBatteryVolt,
	fRSOC,SamplingTime,sRemark
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tab_nbms_dev_hisdata
		where sn = #{sn}
	</select>
	
	<select id="selectDevHisDataList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tab_nbms_dev_hisdata
	</select>
	
	<select id="selectByDevName" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from tab_nbms_dev_hisdata
		where 
		sDevName
                LIKE '%${value}%'
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tab_devstockinmngt
		where sn = #{sn,jdbcType=INTEGER}
	</delete>
	
	<update id="updateStockIn" parameterType="com.jxust.ssm.pojo.DevRealtimeData">
		update
		tab_devstockinmngt
		set
		   nDevType = #{nDevType}
	      ,nSubtype = #{nSubtype}
	      ,sDevID = #{sDevID}
	      ,sDevLabel = #{sDevLabel}
	      ,sDevName = #{sDevName}
	      ,sStockIntType = #{sStockIntType}
	      ,sStorageName = #{sStorageName}
	      ,sSupplierName = #{sSupplierName}
	      ,sRegistrant = #{sRegistrant}
	      ,StorageTime = #{StorageTime}
	      ,sRemark = #{sRemark}
		where sn = #{sn,jdbcType=INTEGER}
	</update>
	
	<insert id="insertStockIn" parameterType="com.jxust.ssm.pojo.DevRealtimeData">
		insert into
		tab_devstockinmngt
		(nDevType,nSubtype,sDevID,sDevLabel,sDevName,sStockIntType,sStorageName,sSupplierName,sRegistrant,StorageTime,sRemark)
		values
			(
				#{nDevType},
		        #{nSubtype},
		        #{sDevID},
		   		#{sDevLabel},
		        #{sDevName},
		        #{sStockIntType},
		        #{sStorageName},
		        #{sSupplierName},
		        #{sRegistrant},
		        #{StorageTime},
		        #{sRemark}		
			)
	</insert>
	
</mapper>