<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- namespace的值就是dao接口的完整路径，就这个demo而言namespace 就是userDao.java的完整路径-->
<mapper namespace="com.jxust.ssm.dao.UserDataDao">
	<resultMap id="BaseResultMap" type="com.jxust.ssm.pojo.UserData">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="clerkName" property="clerkName" jdbcType="VARCHAR" />
		<result column="clerkType" property="clerkType" jdbcType="INTEGER" />
		<result column="password" property="password" jdbcType="VARCHAR" />
		<result column="gsm_Phone" property="gsm_Phone" jdbcType="VARCHAR" />
		<result column="contact" property="contact" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="emailAddr" property="emailAddr" jdbcType="VARCHAR" />
		<result column="memo" property="memo" jdbcType="VARCHAR" />
		<result column="last_login" property="last_login" jdbcType="VARCHAR" />
		<result column="del_state" property="del_state" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
        id ,clerkName ,clerkType ,password ,gsm_Phone ,contact, address, emailAddr, memo,last_login,del_state
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from Tab_userdata
		where clerkName = #{0} and password = #{1} and del_state = 0
	</select>
	
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		*
		from Tab_userdata
		where id =#{id}
	</select>
	
	<!-- 查询用户列表 -->
	<select id="selectUserList" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from Tab_userdata
		where
		del_state = 0
	</select>
	
	<!-- 删除用户 -->
	<update id="deleteByPrimaryKey" parameterType="java.lang.String">
		update
		Tab_userdata
		set
		del_state = 1
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="com.jxust.ssm.pojo.UserData">
		insert into 
		Tab_userdata
		(ID,clerkName,clerkType,password,contact,address,emailAddr,memo,del_state)
		values 
		(#{id},#{clerkName},1,#{password},#{contact},#{address},#{emailAddr},#{memo},0)
	</insert>
	
	<!-- 修改用户 -->
	<update id="updateUser" parameterType="com.jxust.ssm.pojo.UserData">
		update
		Tab_userdata
		set
		 clerkName = #{clerkName}
		,clerkType = #{clerkType}
		,password = #{password}
		,contact = #{contact}
		,address = #{address}
		,emailAddr = #{emailAddr}
		,memo = #{memo}
		where
		id = #{id}
	</update>

</mapper>